.title {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
}

.experience {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: flex-start;
}
